#carnet{
  background:  linear-gradient(to right, rgba(238,216,117,1) 0%, rgba(180,209,225,1) 34%, rgba(180,209,225,1) 100%);
  height: 223px;
  width: 530px;
  display: block;
  border-radius: 5px;
}

#titulo{
  background-color: pink;
  position:  relative;
  top: 20px;
  left: 150px;
  height: 30px;
  width: 325px;
}

#lateralizq{
  background-color: blue;
  position: relative;
  height: 200px;
  width: 140px;
  left: -40px;
  top: -20px;
}
